<div class="bm-form d-none" data-toggle-target="form">
  <%= simple_form_for [list, bookmark] do |f| %>
    <%= f.association :movie%>
    <%= f.input :comment%>
    <%= f.submit "Create", class:'btn btn-outline-success' %>
  <% end %>
</div>
